@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>The toothpick is a versatile product that dates back to ancient times. While its primary purpose of cleaning out food between teeth remains, it's not the only dental product that will help you maintain your healthy smile.t</p>

<img src="~/images/toothpicks.jpg" alt="toothpick" />
<h2>Beyond Teeth</h2>
<p>Toothpicks also have purposes that go beyond teeth. It is quite common to see them as serving tools on cocktail platters or to hold together intricate club sandwiches. Avid bakers also use them to test if their cakes and brownies are ready to cool.</p>

<p>The toothpick is a versatile product that dates back to ancient times. While its primary purpose of cleaning out food between teeth remains, it’s not the only dental product that will help you maintain your healthy smile. Aside from daily brushing and flossing, it is important to get cleanings every six months to maintain optimal oral health and a beautiful smile.
</p>